<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Sarah and Oriol</title>
		<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
		<script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
		<!-- <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script> -->
		<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
		<link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="/bower_components/bootstrap-sweetalert/dist/sweetalert.min.js"></script>
		<link href="/bower_components/bootstrap-sweetalert/dist/sweetalert.css" rel="stylesheet">
		<script src="/bower_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
		<link href="/bower_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.css" rel="stylesheet">
		<link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Josefin+Sans">
		<script src="/js/parallax.js"></script>
		<script src="/js/scripts.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
		<link rel="stylesheet" type="text/css" href="https://static1.squarespace.com/static/sitecss/561887b2e4b07e497b4037d3/14/515c7bd0e4b054dae3fcf003/561887b2e4b07e497b4037d9/2710-05142015/1464296431035/site.css?&amp;filterFeatures=false">
	    <script>
		    $(document).ready(function() {
		    	
   				var url = window.location.pathname;

   				var home = $('a.home').text();
   				console.log('home: ' + home);
   				var currLang = '';
   				if (home === 'Home') {
   					currLang = 'en';
   					$('a.language').html('canvia a web en català');
   				} else if (home === 'Inici') {
   					currLang = 'ca';
   					$('a.language').html('switch to english version');
   				}
   				console.log('currLang: ' + currLang);

   				$('.nav li a').click(function() {
   					$(this).parent().siblings().removeClass('active');
   				});

				$('.nav li').children().each(function() {
					var href = $(this).attr('href');
       				if(url === href) {
             			$(this).parent().addClass('active');
        			} else {
        				$(this).parent().removeClass('active');
        			}
				});

				$('a.language').click( function (e) {
					e.preventDefault();
					console.log('currLang: ' + currLang);
					console.log('clicked language');
					if (currLang === 'ca') {
						var parameter = { lang: 'en' };	
					} else {
						var parameter = { lang: 'ca' };
					}
					
					$.get('/language', parameter, function (language) {
						console.log(language);
						// window.location.replace("http://stackoverflow.com");
						location.reload(true);

							// if (language === 'en') {
							// 	console.log('language returned was en')
							// 	$('.language>a').html('Catala')
							// } else if (language === 'ca') {
							// 	console.log('language returned was ca')
							// 	$('.language>a').html('English')
							// }
						// window.history.go(-2);
					});
					// document.querySelectorAll('a.menu').style.width = ;

				});

			
				var menuspans = document.querySelectorAll(".navbar-nav li a span");

				console.log(menuspans.length);

				console.log(menuspans[0].innerHTML);

				menuspans.forEach( function (el) {
					console.log(el.innerHTML);
					el.parentNode.style.width = el.offsetWidth + 30 + 'px';
				});
			

				// var menuspans = $('.navbar-nav>li>a>span');

				// console.log($('.navbar.nav>li>a>span').each().text());
				// $.each(menuspans, console.log($(this).text()));
				// console.log(menuspans);

				// menuspans.each( function () {
				// 	console.log($(this).text());
				// 	$(this).parent().css('width', menuspans.offsetWidth + "px");
				// });

    		});
		
			$('.navbar-default')
			    .on('show.bs.collapse', function() {
			    	$('.navbar-toggle').css('background-color', '#ddd')
			    })
		   		.on('hide.bs.collapse', function() {
		     		$('.navbar-toggle').css('background-color', '#fff')
			});

  		</script>
	</head>
	<body>
		<header>
				<nav class="navbar navbar-default" style="border-radius: 0px;">
				<!-- <div id="language"><a class="language" href="/language"></a></div> -->
				  <div class="container-fluid title-nav-wrapper">
				    <!-- Brand and toggle get grouped for better mobile display -->
				    <div class="navbar-header" style="position: relative;">
				      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>
						<a class="navbar-brand" href="/">{{{__ 'SARAH &amp; ORIOL'}}}</a>
						<div id="language"><a class="language" href="/language"></a></div>
				    </div>

				    <!-- Collect the nav links, forms, and other content for toggling -->
				    <div class="navbar-collapse collapse pull-right">
				      <ul class="nav navbar-nav navbar-right">
						<li>
							<a class="menu" href="/ourstory"><span>{{{__ 'Our Story'}}}</span></a>
            			</li>
          				<li>
          				 	<a class="menu" href="/travel"><span>{{{__ 'Travel'}}}</span></a>
						</li>
          				<li>
							<a class="menu" href="/events"><span>{{{__ 'Events'}}}</span></a>
					    </li>
					    <li class="active">
							<a class="menu" href="/rsvp"><span>{{{__ 'RSVP'}}}</span></a>
					    </li>
					    <li>
							<a class="menu" href="/registry"><span>{{{__ 'Registry'}}}</span></a>
					    </li>
          				<li>
					     	<a class="menu home" href="/"><span>{{{__ 'Home'}}}</span></a>
            			</li>
				      </ul>
				    </div><!-- /.navbar-collapse -->
				  </div><!-- /.container-fluid -->
				</nav>
		</header>
			{{{ body }}}
	</body>
</html>
