<main>
  <div class="container-fluid">
    <div class="row">
      <div class="parallax-window portrait-crop-225" data-parallax="scroll" data-bleed="6" data-position="top" data-speed="0.2" data-image-src="/img/sunset-ghost-ranch.jpg" style="position: relative">
        <h1 class="page-title" style="position: absolute; width: 98%; text-align: center; vertical-align: middle; margin: auto; top: 50%;  transform: translate(0, -50%); left: 0; right: 0; overflow: visible;">{{{__ 'Events'}}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <div style="vertical-align: middle; padding: 40px 0px 40px 0px">
          <div>
            <p class="faqquestion">{{{__ 'WELCOME DINNER'}}}</p>
            <p>{{{__ 'Please join us in Santa Fe for a welcome dinner on Friday, June 23. Location to be determined!'}}}</p><br/>
            <p class="faqquestion">{{{__ 'WEDDING and RECEPTION'}}}</p>
            <p>{{{__ 'The ceremony and reception will be held at the Gerald Peters Gallery, in the Peters Projects building.'}}}</p>
            <p>1011 Paseo De Peralta, Santa Fe, NM 87501</p>
            <p>{{{__ '<a href="https://goo.gl/maps/wJV1Pzyvo712">Click here</a> for a map.'}}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>
</main>