<main>
	<div class="container-fluid">
		<div class="row">
			<div class="parallax-window portrait-crop-225" data-parallax="scroll" data-bleed="6" data-position="top" data-speed="0.2" data-image-src="/img/santa-fe-banner.jpg" style="position: relative">
				<h1 class="page-title" style="position: absolute; width: 98%; text-align: center; vertical-align: middle; margin: auto; top: 50%;  transform: translate(0, -50%); left: 0; right: 0; overflow: visible;">{{{__ 'FAQ'}}}</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
			</div>
			<div class="col-md-8">
				<div style="vertical-align: middle; padding: 40px 0px 40px 0px">
					<div>
						<!-- <p class="faqquestion">{{{__ 'Why are you getting married in Santa Fe?'}}}</p>
						<p>{{{__ 'Good question! Very, VERY good question.'}}}</p>
						<p>{{{__ 'Okay. So, Sarah grew up in Atlanta and consequently lived in Southern California, England, Berkeley, Southern California, San Francisco, Costa Rica, Wisconsin, Iowa, Vermont, Wisconsin, and now Atlanta, in that order.'}}}</p>
						<p>{{{__ 'Oriol, meanwhile, grew up in Barcelona and consequently lived in New York, Ecuador, Barcelona, England, Wisconsin, Bolivia, South Africa, and Wisconsin, in that order. So, of course, Santa Fe made sense.'}}}</p>
						<p>{{{__ '[laughter]*'}}}</p>
						<p>{{{__ 'Really, though, Sarah\'s parents have lived in Albuquerque for 15 years, so New Mexico has become a special place. Also Santa Fe is really beautiful, and strikes a nice balance between "destination" and "close to home."'}}}<p>
						<p>{{{__ '*Oriol: "Only Sarah\'s laughter."'}}}</p><br/> -->
						<p class="faqquestion">{{{__ 'When should I arrive?'}}}</p>
						<p>{{{__ 'Our welcome dinner is Friday, June 23 (<a href="/rsvp">click here</a> to RSVP), but we encourage you to arrive in Santa Fe earlier if you want to enjoy a longer vacation! Our wedding hotel offers an extended discount on guestrooms (more on that below).'}}}</p><br/>
						<p class="faqquestion">{{{__ 'Which airport should I fly into?'}}}</p>
						<p>{{{__ 'Albuquerque\'s International Sunport (yes, Sunport!) is your best bet. Santa Fe has an airport, but flights there are pricier.'}}}</p><br/>
						<p class="faqquestion">{{{__ 'Which airlines will get me there?'}}}</p>
						<p>{{{__ 'A bunch of airlines offer nonstop and connecting service to Albuquerque. It\'s usually best to check Southwest first. Delta, American, and United also offer nonstop flights from various U.S. cities.'}}}</p><br/>
						<p class="faqquestion">{{{__ 'OK. How do I get from Albuquerque to Santa Fe?'}}}</p>
						<p>{{{__ 'Santa Fe is about an hour\'s drive northeast of Albuquerque. You can rent a car in Albuquerque, or you can take the Sandia Shuttle from the Sunport directly to our wedding hotel (the ride costs $55 per person roundtrip and takes about 75 minutes). Another option is to take the Rail Runner train from Albuquerque to Santa Fe. The train ride is beautiful (and cheap), but just keep in mind that you\'ll need to take a shuttle or taxi to the Albuquerque train station from the Sunport.'}}}</p><br/>
						<p class="faqquestion">{{{__ 'But won\'t I need a car in Santa Fe?'}}}</p>
						<p>{{{__ 'Santa Fe is quite walkable, and our wedding hotel has a free shuttle that takes you within a one-mile radius of the hotel. A car is definitely nice if you plan to do any hiking or want to roam farther away from the city, but it\'s not necessary.'}}}</p><br/>
						<p class="faqquestion">{{{__ 'Did you say wedding hotel?'}}}</p>
						<p>{{{__ 'Yes! We\'ve reserved a block of rooms at the Hotel Santa Fe, Hacienda and Spa, which is a 15-minute walk from our wedding and reception venue. To reserve a room, please call (855) 825-9876 and ask for the Karon-Mirosa rate. We encourage you to book your room early, as Santa Fe is popular in the summer. The special rate is available until Tuesday, May 23.'}}}</p><br/>
						<p class="faqquestion">{{{__ 'We\'re thinking about extending our stay in Santa Fe. Can we get a discount on our room?'}}}</p>
						<p>{{{__ 'Again, yes! The hotel will honor the discounted rate three days before and after the wedding weekend (from Monday, June 19, until Tuesday, June 27).'}}}</p><br/>
						<p class="faqquestion">{{{__ 'What types of rooms are available? How much money are we talking?'}}}</p>
						<p>{{{__ 'Traditional rooms (with either a king or two double beds) cost $159 per night, and that rate includes breakfast, internet, parking, the aforementioned shuttle, and a 15 percent discount on spa treatments. Suites are a little jazzier (sofa! coffee table!) and cost $179 per night. King rooms in the Hacienda side of the hotel, which is fancier (and where celebs stay when they\'re in town filming) cost $189 per night. The hotel has photos of its room options on its website.'}}}</p><br/>
						<p class="faqquestion">{{{__ 'I called the hotel, but there aren\'t any rooms left in the block.'}}}</p>
						<p>{{{__ 'Please call or text us if this happens! We can add more rooms so that you can get the discount.'}}}</p><br/>
						<p class="faqquestion">{{{__ 'What about budget hotel options?'}}}</p>
						<p>{{{__ 'Check out El Rey, the Santa Fe Motel and Inn, and the Silver Saddle Motel. The Santa Fe Motel and Inn is about a 10-minute walk from the wedding venue. If you stay at El Rey or the Silver Saddle, you\'ll need to drive or Uber to the wedding venue (it\'s about a 10- to 15-minute drive).'}}}</p><br/>
						<p class="faqquestion">{{{__ 'What should I pack for this high desert getaway?'}}}</p>
						<p>{{{__ 'Santa Fe is hot in June, with average high temperatures in the upper 80s. (It\'s a dry heat, though!) The ceremony and reception will be in the evening, and will take place both inside and outside (on grass), if that affects your choice of footwear. Just wear shoes you can dance in!'}}}</p><br/>
						<p class="faqquestion">{{{__ 'And what exactly is the "high desert"?'}}}</p>
						<p>{{{__ 'Santa Fe has an elevation of 7,200 feet (2,200 meters), so if you don\'t live at high altitude, you might have a slight headache on the first day. Drink lots of water and pop an ibuprofen if needed.'}}}</p><br/>
					</div>
				</div>
			</div>
			<div class="col-md-2">
			</div>
		</div>
	</div>
</main>
