<main>

<!-- Desktop Site -->
	<div class="container-fluid index">
		<div class="row">
				<div class="parallax-window portrait-crop-first" data-parallax="scroll" data-bleed="6" data-position="top" data-speed="0.2" data-image-src="/img/sarahoriol1-v2.jpg" style="position: relative">
					<h1 class="page-title" style="position: absolute; width: 98%; text-align: center; vertical-align: middle; margin: auto; top: 50%;  transform: translate(0, -50%); left: 0; right: 0; overflow: visible; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">{{{__ 'Born 4,566<br/>miles apart'}}}</h1>
				</div>
			</div>
		<div class="row index-row">
			<div class="col-xs-12 col-sm-6 mycols" style="height: 100%; display: table">
				<div style="display: table-cell; vertical-align: middle;">
					<h4 class="text-align-center" style="margin-top: 0px">{{{__ 'Atlanta, 1986: Bowl cuts and drawing class, dinosaurs and She-Ra, climbing magnolia trees and pestering her older sister. Life was pretty sweet for this seven-year-old.'}}}</h4>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 mycols" style="height: 100%; display: table">
				<div style="display: table-cell; vertical-align: middle;">
					<h4 class="text-align-center" style="margin-top: 0px">{{{__ 'Barcelona, 1981: Soccer matches and Spiderman, bikes and video games, chocolate biscuits and Star Wars on Betamax &mdash; that\'s all this six-year-old cared about.'}}}</h4>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="parallax-window portrait-crop" data-parallax="scroll" data-bleed="6" data-position="middle" data-speed="0.2" data-image-src="/img/so10.png" style="position: relative">
				<h1 class="page-title" style="position: absolute; width: 98%; text-align: center; vertical-align: middle; margin: auto; top: 50%;  transform: translate(0, -50%); left: 0; right: 0; overflow: visible; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">{{{__ 'these two<br/>wandering souls'}}}</h1>
				</div>
			</div>
		<div class="row index-row">
			<div class="col-xs-12 col-sm-6 mycols" style="height: 100%; display: table">
				<div style="display: table-cell; vertical-align: middle;">
					<h4 class="text-align-center" style="margin-top: 0px">{{{__ 'A theater nerd, writer, and chronic procrastinator, she was obsessed with Jane Austen and My So-Called Life. She fled the South for California, and then Central America, before following her older sister to... Wisconsin.'}}}</h4>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 mycols" style="height: 100%; display: table">
				<div style="display: table-cell; vertical-align: middle;">
					<h4 class="text-align-center" style="margin-top: 0px">{{{__ 'His soft-spokenness and impeccable manners hid a love for death metal and socialism. He was a guitarist and straight-A student, an activist and volunteer, destined to travel the world and wind up in... Wisconsin.'}}}</h4>
				</div>
			</div>
			</div>
		<div class="row">
			<div class="parallax-window portrait-crop" data-parallax="scroll" data-bleed="6" data-position="top" data-speed="0.2" data-image-src="/img/sarahoriolLA.jpg" style="position: relative">
				<h1 class="page-title" style="position: absolute; width: 98%; text-align: center; vertical-align: middle; margin: auto; top: 50%;  transform: translate(0, -50%); left: 0; right: 0; overflow: visible; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">{{{__ 'trekked the long,<br/>rocky way to each other'}}}</h1>
				</div>
			</div>
		<div class="row index-row">
			<div class="col-xs-12 col-sm-6 mycols" style="height: 100%; display: table">
				<div style="display: table-cell; vertical-align: middle;">
					<h4 class="text-align-center" style="margin-top: 0px">{{{__ 'She met him two weeks before he was leaving town, struck by his intelligence, passion, and determination to dance with (near) her.<br/><br/>Four days later, they were inseparable.'}}}</h4>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 mycols" style="height: 100%; display: table">
				<div style="display: table-cell; vertical-align: middle;">
					<h4 class="text-align-center" style="margin-top: 0px">{{{__ 'He met her during her carefree summer, struck by her charm, wit, and the way she could clear a dance floor. On their first date, he told himself:<br/><br/>"I can see myself happy with her in 40 years."'}}}</h4>
				</div>
			</div>
			</div>
		<div class="row">
			<div class="parallax-window portrait-crop" data-parallax="scroll" data-bleed="6" data-position="bottom" data-speed="0.2" data-image-src="/img/image.jpg" style="position: relative;">
    			<h1 class="page-title" style="position: absolute; width: 98%; text-align: center; vertical-align: middle; margin: auto; top: 50%;  transform: translate(0, -50%); left: 0; right: 0; overflow: visible; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">{{{__ 'and built a love<br/>to be shared and celebrated'}}}</h1>
				</div>
			</div>
		<div class="row index-row">
				<div class="col-md-3 col-sm-1">
			</div>
			<div class="col-md-6 col-xs-12 col-sm-10 mycols" style="height: 100%; display: table">
				<div style="display: table-cell; vertical-align: middle;">
					<h4 class="text-align-center" style="margin-top: 0px">{{{__ 'Sarah and Oriol are thrilled to have you join them on their wedding day.'}}}<br/><br/></h4>
				</div>
			</div>
			<div class="col-md-3 col-sm-1">
				</div>
		</div>
	</div>

<!-- Mobile Site -->
	<!-- <div class="visible-xs-block visible-sm-block container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<div style="position: relative;">
					<h1 class="page-title" style="width: 100%; font-size: 35px; text-align: center; padding: 22% 0 0 0; margin: auto; position: absolute; vertical-align: middle;">These two<br/>sweet kids</h1>
					<img src="/img/sarahoriol01.jpg" style="width: 100%;">
					</div>

			</div>
			</div>
		<div class="row">
				<div class="col-xs-12">
				<div style="padding: 10% 5% 10% 5%;">
					<h4 class="text-align-center" style="margin-top: 0px">Side ponytails and Barbie dolls,&nbsp;chocolate mousse, Wonder Woman, watching black and white movies with Mum:&nbsp;this was all this eight year old cared about.<br/><br/><small>&#9734;     &#9734;     &#9734;</small><br/><br/>Bowl cuts and bodyboarding with his little bro. Along with a talent for designing his own clothes, this was a very special snowflake from Napier.</h4>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div style="position: relative;">
					<h1 class="page-title" style="display: block; width: 100%; font-size: 35px; text-align: center; padding: 22% 0 0 0; margin: auto; position: absolute; vertical-align: middle; z-index: 8002">one teen rebel,<br/>one blue-eyed<br/>darling</h1>
					<img src="/img/sarahoriol1.jpg" style="width: 100%; z-index: 8000">
					</div>
			</div>
			</div>
		<div class="row">
				<div class="col-xs-12">
				<div style="padding: 10% 5% 10% 5%;">
					<h4 class="text-align-center" style="margin-top: 0px">Whether smoking in the toilets, watching Rage all night or playing records in her bedroom, she was a dreamer, a truant, and a wanna-be poet.<br/><br/><small>&#9734;     &#9734;     &#9734;</small><br/><br/>This was a small town kid, a straight-A student with after school jobs. Roller hockey and Friday nights at the skate bowl, when not hanging out with the folks.</h4>
				</div>
			</div>
			</div>
		<div class="row">
			<div class="col-xs-12">
				<div style="position: relative;">
					<h1 class="page-title" style="display: block; width: 100%; font-size: 35px; text-align: center; padding: 22% 0 0 0; margin: auto; position: absolute; vertical-align: middle; z-index: 8002">came together,<br/>once grown</h1>
					<img src="/img/sarahoriolLA.jpg" style="width: 100%; z-index: 8000">
					</div>
				</div>
			</div>
		<div class="row">
				<div class="col-xs-12">
				<div style="padding: 10% 5% 10% 5%;">
					<h4 class="text-align-center" style="margin-top: 0px">While the dreamer did everything the hard way (upside down and back to front), she had finally got to where she was meant to be, when she met a handsome man-about-town.<br/><br/>It didn't take her long to begin to fall, and fall she did: head over Louboutin's.<br/><br/><small>&#9734;     &#9734;     &#9734;</small><br/><br/>That small town kid had grown into a worldly young man, when suddenly a former teen rebel stumbled (quite literally) into his arms.<br/><br/>That was on a Friday night. By Monday, he knew he was going to spend the rest of his life with her.</h4>
				</div>
			</div>
			</div>
			<div class="row">
			<div class="col-xs-12">
				<div style="position: relative;">
					<h1 class="page-title" style="display: block; width: 100%; font-size: 35px; text-align: center; padding: 15% 0 0 0; margin: auto; position: absolute; vertical-align: middle; z-index: 8002">to make a forever<br/>kind of love</h1>
					<img src="/img/LittleKitty.jpg" style="width: 100%; z-index: 8000">
					</div>
				</div>
			</div>
		<div class="row">
				<div class="col-xs-12">
				<div style="padding: 10% 5% 10% 5%;">
					<h4 class="text-align-center" style="margin-top: 0px;">Sarah and Oriol were thrilled to have you with them on their wedding day.<br/><br/>You can now view the photos in <a href="#">The Day</a> gallery.</h4>
				</div>
				</div>
		</div>
	</div> -->
</main>
