<main>
  <div class="container-fluid">
    <div class="row">
      <div class="parallax-window portrait-crop-225" data-parallax="scroll" data-bleed="6" data-position="bottom" data-speed="0.2" data-image-src="/img/starry-sky.jpg" style="position: relative">
        <h1 class="page-title" style="position: absolute; width: 98%; text-align: center; vertical-align: middle; margin: auto; top: 50%;  transform: translate(0, -50%); left: 0; right: 0; overflow: visible;">{{{__ 'Travel'}}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <div style="vertical-align: middle; padding: 40px 0px 40px 0px">
          <div>
            <p class="faqquestion">{{{__ 'ACCOMMODATIONS'}}}</p>
            <p>{{{__ 'We\'ve reserved a block of rooms at the Hotel Santa Fe, Hacienda and Spa.'}}}</p>
            <p>{{{__ 'To reserve a room, please call 855-825-9876 and ask for the Karon-Mirosa wedding rate.'}}}</p>
            <p>{{{__ 'Want to find out what\'s included in the hotel rate? And if you need to rent a car? AND MUCH, MUCH MORE? Check out our FAQ page.'}}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>
</main>