<main>
  <div class="container-fluid">
    <div class="row">
      <div class="parallax-window portrait-crop-225" data-parallax="scroll" data-bleed="6" data-position="bottom" data-speed="0.2" data-image-src="/img/starry-sky2.jpg" style="position: relative">
        <h1 class="page-title" style="position: absolute; width: 98%; text-align: center; vertical-align: middle; margin: auto; top: 50%;  transform: translate(0, -50%); left: 0; right: 0; overflow: visible;">{{{__ 'Travel'}}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <div style="vertical-align: middle; padding: 40px 0px 40px 0px">
          <div>
            <p class="faqquestion">{{{__ 'ACCOMMODATIONS'}}}</p>
            <p>{{{__ 'We\'ve reserved a block of rooms at the Hotel Santa Fe, Hacienda and Spa. To book a room, please call (855) 825-9876 or dash off an email to <a href="mailto:stay@hotelsantafe.com">stay@hotelsantafe.com</a>. Be sure to ask for the Karon-Mirosa wedding rate. The hotel will release the room block on May 23.'}}}</p>
            <p>{{{__ 'Thinking of extending your stay in beautiful Santa Fe? The hotel will honor the discounted rate three days prior and three days after our wedding weekend, from Monday, June 19, until Tuesday, June 27.'}}}</p>
            <p>{{{__ 'Learn more about getting to Santa Fe, hotel room rates, renting a car, and more by reading our <a href="/faq">FAQ</a> page.'}}}</p><br/>
						<p class="faqquestion">{{{__ 'NEW MEXICAN CUISINE'}}}</p>
						<p>When it comes to restaurants, Santa Fe has an embarrassment of riches. Here are some tips for anyone new to New Mexican cooking:</p><br/>
						<ul>
							<li>You'll find chile all over menus, in everything from enchiladas to ice cream.</li>
							<li>Chile comes in green and red, and is typically served as a sauce. Not sure of the heat level? Just ask your server.</li>
							<li>Sopapillas, another local staple, are a Native American fried dough served with honey.</li>
							<li>Posole is a a chile and pork stew served with hominy.</li>
						</ul><br/>
						<p class="faqquestion">{{{__ 'OUR FAVORITE RESTAURANTS'}}}</p>
						<ul>


						<li>Clafoutis: A French cafe and bakery, with delicious freshly made beignets only available on Saturdays.</li>
						<li>Tune up Cafe: The El Salvadorian papusas are a must-try at this family-friendly cafe. A great local hang-out with cozy ambiance.</li>
						<li>Counter Culture: Don't miss their huge homemade cinnamon rolls, only available Wednesday, Saturday, and Sunday. Also, cash only!</li>
						<li>Iconic Coffee: Minimal food options, but really good coffee.</li>
						<li>Tia Sophia's: Famous sopapillas and New Mexican home cooking (just FYI, the sopapillas are only served at lunch, not breakfast).</li>
						<li>Tomasita's: Classic New Mexican fare, with vegetarian and gluten-free options.</li>
						<li>The Shed: A Santa Fe institution, known for having the best chile (which you can also buy by the jar). Prepare to wait in line, or grab a spot at the bar and sip one of their margaritas. They also serve breakfast.</li>
						<li>The Pantry: There's always a line, but it's a local favorite for quintessential New Mexican dishes</li>
						<li>Sage Bakehouse: Wonderful freshly made bread and delicious sandwiches. Bonus: Sage is across the street from our wedding hotel.</li>
						<li>Paper Dosa: Beautiful ambiance and delicous Southern Indian fare. Be sure to try their salted lemonade.</li>
						<li>Jambo: Worth the short trek out of town, and don't be fooled by the strip mall facade. A local favorite serving a mix of Swahili, Indian, Arabic, and European influenced cuisine, and they have the best chai in town.</li>
						<li>El Chile Toreado: A food truck serving up tasty burritos and tacos.</li>
						<li>Bonsai Tacos: A food truck that serves Asian tacos.</li>
						<li>Vinaigrette: Great salads.</li>
						<li>Sazon: Check out their cozy bar and delicious cocktails.</li>
						<li>Radish &amp; Rye: Small plates and craft cocktails. Pricey but worth it if you're in the mood to splurge.</li>
	<li>La Boca: Spanish tapas with a nice selection of Mediterranean and South American wines.</p></ul><br/>
		<li>Sweet Water: Try their Thai Nights on Wednesday through Saturday evenings.  All Thai dishes are gluten-free, too.</li>



						<p class="faqquestion">{{{__ 'SWEETS AND ICE CREAM'}}}</p>
						<ul>
												<li>Kakawa Chocolate House: We never leave Santa Fe without stopping by Kakawa! A specialty chocolate shop with recipes that harken back to 1,000 BC. Try their truffles, caramels, hot chocolate mixes, their renowned chocolate-dipped chile pods - and the best iced mochas, ever.</li>
																		<li>Dulce Bakery: Delicious Mexican wedding cookies.</li>
						<li>La Lecheria: A new local ice-cream shop know for unique combinations and local ingredients.</li>


						<p class="faqquestion">PLACES TO VISIT</p>

						<p>A small city, Santa Fe punches far above its weight. The "City Different" is a paradise for art lovers and outdoors enthusiasts alike. If you're looking for an extended getaway, you can easily spend a week in and around Santa Fe.</p><br/>

						<p style="text-decoration: underline;"><em>In-Town Activities</em></p>

						<p>Plaza and Museums. The hub of Santa Fe is its historic downtown plaza, ringed by the Palace of the Governors (now a museum, outside of which Native artisans sell silver, turquoise, and crafts) and the St. Francis Cathedral. Consider a walking tour of the central plaza and surroundings. Off the plaza, we recommend stopping by the Georgia O'Keefe Museum, dedicated to the artistic legacy of Georgia O’Keeffe, her life, and American Modernism.</p>

						<p>Canyon Road Galleries and Barrio de Analco. Santa Fe has more art galleries than any U.S. city other than New York. A great way to experience their diversity is to stroll along Canyon Road, a beautiful street that itself is home to more than 100 galleries. When you need a break from the galleries, head for wine and noshes at El Farol, a Spanish tapas restaurant with a lovely garden. And consider also walking by some of the historic homes in the nearby Barrio de Analco (now East de Vargas Street), one of the country's oldest continuously inhabited streets.</p>

						<p>Railyard District. The Railyard District is a repurposed neighborhood just outside downtown filled with art spaces, cafes, and shopping. Among other establishments, the district is home to SITE Santa Fe (an enticing contemporary art space), the vast Santa Fe Farmer's Market, and a large REI store. When heading from downtown, architecture and furniture buffs should stop into Seret &amp; Sons, an architectual decor store on East Gailsteo Street that Conde Nast hails as "one of the world's great shopping experiences."</p>

						<p>Bike Santa Fe. Why is Santa Fe so good by bike? The gray lady recently explained: "It’s a manageable size, reasonably level and very pretty. Its immaculate light has made it famous, as have its sunsets, its glowing adobe buildings and Spanish colonial center, all of which make a great backdrop for the cyclist. Come spring, when the cottonwoods turn bright with leaf, just to be passing through town on a bike, through the blue shade of trees, on any of the bikeways or trails, is a joy. Summer evenings and mornings are glorious for riding, and the fall, with its bright colors, is fine too. Almost wherever you are, you can see the mountains." To rent a bike, visit the helpful dudes at Mellow Velo.</p><br/>

						<p style="text-decoration: underline;"><em>Near-Town Activities</em></p>

						<p>Soak and massage at 10,000 Waves. Spa luv-ahs shouldn't miss 10,000 Waves, a self-described "unique mountain spa ... that feels like a Japanese hot spring resort." Situated 10 miles outside of town and situated atop a mountain overlooking the city, it's more elegant Zen than refined luxury. Consider renting a private tub before or after your treatment. But sure to book a few weeks in advance; this place is popular among locals and return guests, so treatment rooms and tubs tend to book up quickly.</p>

						<p>Hiking. There are dozens of day hike options in and around Santa Fe. One of our favorites is Raven's Ridge, a dramatic and challenginghike up a former ski trail. This is literally off the beaten path. Wherever you hike, be sure to bring layers; the weather changes rapidly as you ascend and descend.</p><br/>
						<p style="text-decoration: underline;"><em>Further Afield</em></p>
						<p>The High Road from Santa Fe to Taos. The High Road from Santa Fe to Taos offers a combination of New Mexicana and panoramic views. The trip takes about two hours without any stops. But there are many wortwhile stops along the way. The road connects a string of towns where time has stood still. One of the first towns you will reach is Chimayó, famous for its Sanctuario de Chimayó (a pilgrimage site for many Hispanic Catholics) and its traditional weaving galleries (visit Trujillo's). Two towns up the road is Truchas, which has been settled by many artists and is home to several galleries. As you approach Taos, you'll pass through Peñasco. Make time for lunch or cake at the fabulous Sugar Nymph's Bistro, start by a cool lady-couple that left the San Francisco food scene to pursue dreams of a locavore small-town cafe. If you continue onto Taos, be sure to visit Taos Pueblo, the only living Native American community designated both a World Heritage Site by UNESCO and a National Historic Landmark. The multi-storied adobe buildings have been continuously inhabited for over 1000 years. When you’re done exploring Taos, you can halve your return jorney by taking the Low Road, along the Rio Grande River, back to Santa Fe.</p>

						<p>Bandelier National Monument. About an hour's drive from Santa Fe, the impressive Monument contains 23,000 acres of backcountry wilderness, waterfalls, and wildlife. It is best known for the remarkable petroglyphs carved into  the nooks and crevices of the canyon wall above the dwellings by ancestral Puebloans.</p>

						<p>Abiquiú. Maintained by the Georgia O'Keeffe Museum, the late artist's famed ranch in Abiquiú -- which served as the setting for many of her paintings -- can be toured  by appointment on Tuesdays, Thursdays, Fridays, and Saturdays. As group size is limited to 12, be sure to book as soon as possible.</p>

						<p>Canyon Road is only a half-mile long and has more than a hundred galleries, boutiques, and restaurants.</p>

						<p>Nedra Matteucci Gallery is one of the best galleries in Santa Fe, with a beautiful sculpture garden. Also it's across the street from Kakawa Chocolate House, so, you know.</p>

						<p>Museum Hill is home to four great museums -- the Museum of Indian Arts &amp; Culture, the Museum of International Folk Art, the Wheelwright Museum of the American Indian, and the Museum of Spanish Colonial Art. The cafe on Museum Hill also serves tasty food.</p>

						<p>The Georgia O'Keefe Museum is small and lovely (O'Keefe spent the latter half of her life in New Mexico).</p>

						<p>If you make a pastime of pampering, head to Ten Thousand Waves, a beautiful Japanese-style spa with forest-view hot tubs and Asian-style massages. You can enjoy a communal tub or sauna, rent a private tub, book a massage or facial, and eat at their James Beard-nominated Japanese restaurant.</p><br/>


						<p style="text-decoration: underline;"><em>Day or overnight trips</em></p>

						<p>Hiking in and near Santa Fe is beautiful. You can take the chairlift up and then hike down -- just be aware of the elevation change.</p>

						<p>Abiquiu Lake: This is where Georgia O'Keefe lived. You can spend the day floating around in a lake in the high desert, and then head to the Abiquiu Inn nearby for a meal or an overnight stay.</p>
						<p>Santuario de Chimayo: a nice church near La Mesita Ranch.</p>

						<p>Ojo Caliente: a restored hot springs and old hotel, which is lovely for a day trip or overnight stay.</p>

          </div>
        </div>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>
</main>
