<main>
  <div class="container-fluid">
    <div class="row">
      <div class="parallax-window portrait-crop-225" data-parallax="scroll" data-bleed="6" data-position="bottom" data-speed="0.2" data-image-src="/img/starry-sky2.jpg" style="position: relative">
        <h1 class="page-title" style="position: absolute; width: 98%; text-align: center; vertical-align: middle; margin: auto; top: 50%;  transform: translate(0, -50%); left: 0; right: 0; overflow: visible;">{{{__ 'Travel'}}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <div style="vertical-align: middle; padding: 40px 0px 40px 0px">
          <div>
            <p class="faqquestion">{{{__ 'ACCOMMODATIONS'}}}</p>
            <p>{{{__ 'We\'ve reserved a block of rooms at the Hotel Santa Fe, Hacienda and Spa. To book a room, please call (855) 825-9876 or dash off an email to <a href="mailto:stay@hotelsantafe.com">stay@hotelsantafe.com</a>. Be sure to ask for the Karon-Mirosa wedding rate. The hotel will release the room block on May 23.'}}}</p>
            <p>{{{__ 'Thinking of extending your stay in beautiful Santa Fe? The hotel will honor the discounted rate three days prior and three days after our wedding weekend, from Monday, June 19, until Tuesday, June 27.'}}}</p>
            <p>{{{__ 'Learn more about getting to Santa Fe, hotel room rates, renting a car, and more by reading our <a href="/faq">FAQ</a> page.'}}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>
</main>