<main>
  <div class="container-fluid">
    <div class="row">
      <div class="parallax-window portrait-crop-225" data-parallax="scroll" data-bleed="6" data-position="bottom" data-speed="0.2" data-image-src="/img/starry-sky2.jpg" style="position: relative">
        <h1 class="page-title" style="position: absolute; width: 98%; text-align: center; vertical-align: middle; margin: auto; top: 50%;  transform: translate(0, -50%); left: 0; right: 0; overflow: visible;">{{{__ 'Travel'}}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <div style="vertical-align: middle; padding: 40px 0px 40px 0px">
          <div>
            <p class="faqquestion">{{{__ 'ACCOMMODATIONS'}}}</p>
            <p>{{{__ 'We\'ve reserved a block of rooms at the Hotel Santa Fe, Hacienda and Spa. To book a room, please call (855) 825-9876 or dash off an email to <a href="mailto:stay@hotelsantafe.com">stay@hotelsantafe.com</a>. Be sure to ask for the Karon-Mirosa wedding rate. The hotel will release the room block on May 23.'}}}</p>
            <p>{{{__ 'Thinking of extending your stay in beautiful Santa Fe? The hotel will honor the discounted rate three days prior and three days after our wedding weekend, from Monday, June 19, until Tuesday, June 27.'}}}</p>
            <p>{{{__ 'Learn more about getting to Santa Fe, hotel room rates, renting a car, and more by reading our <a href="/faq">FAQ</a> page.'}}}</p><br/>
						<p class="faqquestion">{{{__ 'NEW MEXICAN CUISINE'}}}</p>
						<p>{{{__ 'When it comes to restaurants, Santa Fe has an embarrassment of riches. Here are some tips for anyone new to New Mexican cooking:'}}}</p>
						<ul>
							<li>{{{__ 'You\'ll find chile all over menus, in everything from enchiladas to ice cream.'}}}</li>
							<li>{{{__ 'Chile comes in green and red, and is typically served as a sauce. Not sure of the heat level? Just ask your server.'}}}</li>
							<li>{{{__ 'Sopapillas, another local staple, are a Native American fried dough served with honey.'}}}</li>
							<li>{{{__ 'Posole is a chile and pork stew served with hominy.'}}}</li>
						</ul><br/>
						<img src="/img/posole.jpg" alt="Posole" style="display: block; max-width: 250px; margin-left: auto; margin-right: auto;" /><br /><br />
						<p class="faqquestion">{{{__ 'OUR FAVORITE RESTAURANTS'}}}</p>
						<ul>
							<li><a
				      href="https://www.facebook.com/Clafoutis-250750308289765/" target="_blank"><strong>Clafoutis</strong></a>: {{{__ 'A French cafe and bakery, with delicious freshly made beignets only available on Saturdays.'}}}</li>
							<li><a
				      href="https://www.facebook.com/Counter-Culture-Cafe-152108598154559/" target="_blank"><strong>Counter Culture</strong></a>: {{{__ 'Don\'t miss their huge homemade cinnamon rolls, only available Wednesday, Saturday, and Sunday. They also serve soup and sandwiches.'}}}</li>
							<li><a
				      href="http://iconikcoffee.com/" target="_blank"><strong>Iconik Coffee</strong></a>: {{{__ 'Minimal food options, but tasty coffee.'}}}</li>
							<li><a
				      href="http://www.pantrysantafe.com/" target="_blank"><strong>The Pantry</strong></a>: {{{__ 'There\'s always a line, but this is our favorite for quintessential New Mexican dishes.'}}}</li>
							<li><a
				      href="https://www.yelp.com/biz/el-chile-toreado-santa-fe" target="_blank"><strong>El Chile Toreado</strong></a>: {{{__ 'Stop by this food truck for spicy, flavorful, and pretty damn amazing burritos and tacos. Open for breakfast and lunch only.'}}}</li>
							<li><a
				      href="http://the-shed-restaurant.myshopify.com/" target="_blank"><strong>The Shed</strong></a>: {{{__ 'A Santa Fe institution, known for having the best chile (which you can also buy by the jar). Prepare to wait in line, or grab a spot at the bar and sip one of their margaritas. They also serve breakfast.'}}}</li>
							<li><a
				      href="http://www.tiasophias.com/" target="_blank"><strong>Tia Sophia's</strong></a>: {{{__ 'Famous sopapillas and New Mexican home cooking (just FYI, the sopapillas are only served at lunch, not breakfast). For a hearty breakfast with a spicy kick, order the breakfast burrito with "Christmas" (red and green) chile.'}}}</li>
							<li><a
				      href="http://tomasitas.com/" target="_blank"><strong>Tomasita's</strong></a>: {{{__ 'Classic New Mexican fare, with vegetarian and gluten-free options.'}}}</li>
							<li><a
				      href="https://sagebakehouse.com/" target="_blank"><strong>Sage Bakehouse</strong></a>: {{{__ 'Fabulous freshly made bread and delicious sandwiches. Bonus: Sage is across the street from our wedding hotel!'}}}</li>
							<li><a
				      href="http://paper-dosa.com/" target="_blank"><strong>Paper Dosa</strong></a>: {{{__ 'Beautiful ambiance and wonderful Southern Indian fare. Be sure to try their salted lemonade.'}}}</li>
							<li><a
				      href="http://jambocafe.net/" target="_blank"><strong>Jambo</strong></a>: {{{__ 'Worth the short trek out of town, and don\'t be fooled by the strip mall facade. A local favorite serving a mix of Swahili, Indian, Arabic, and European influenced cuisine, and they have the best chai in town. Vegetarian, vegan, and gluten-free dishes available.'}}}</li>
							<li><a href="https://www.facebook.com/The-Bonsai-ASIAN-TACOS-856098811080327/" target="_blank"><strong>Bonsai Asian Tacos</strong></a>: {{{__ 'Another food truck, this time serving Asian tacos (picture Bulgogi meat, ginger, guacamole, jicama... yum). Open for a late breakfast, lunch, and dinner.'}}}</li>
							<li><a href="http://www.vinaigretteonline.com/santafe_menu" target="_blank"><strong>Vinaigrette</strong></a>: {{{__ 'Twenty different salads, plus sandwiches and soups. Vegetarian, vegan, and gluten-free options. Open for lunch and dinner.'}}}</li>
						  <li><a href="http://www.sazonsantafe.com/" target="_blank"><strong>Sazon</strong></a>: {{{__ 'Check out their cozy bar and delicious cocktails.'}}}</li>
						  <li><a href="http://radishandrye.com/#farminspiredcuisine" target="_blank"><strong>Radish &amp; Rye</strong></a>: {{{__ 'Small plates and craft cocktails. Pricey but worth it if you\'re in the mood to splurge.'}}}</li>
						  <li><a href="http://www.labocasantafe.com/" target="_blank"><strong>La Boca</strong></a>: {{{__ 'Spanish tapas with a nice selection of Mediterranean and South American wines.'}}}</li>
						  <li><a href="http://www.sweetwatersf.com/" target="_blank"><strong>Sweetwater Harvest Kitchen</strong></a>: {{{__ 'Locally sourced ingredients and lots of vegetarian, vegan, and gluten-free options. Try their Thai Nights on Wednesday through Saturday evenings.'}}}</li>
						  <li><a href="http://tuneupsantafe.com/" target="_blank"><strong>Tune-up Cafe</strong></a>: {{{__ 'The El Salvadorian papusas are a must-try at this family-friendly cafe. A great local hang-out with cozy ambiance.'}}}</li>
						</ul><br/>

						<p class="faqquestion">{{{__ 'SWEETS AND ICE CREAM'}}}</p>
						<ul>
							<li><a href="https://kakawachocolates.com/" target="_blank"><strong>Kakawa Chocolate House</strong></a>: {{{__ 'We never leave Santa Fe without stopping by Kakawa! This local favorite is a specialty chocolate shop with recipes that harken back to 1,000 BC. Try their truffles, caramels, hot chocolate mixes, renowned chocolate-dipped chile pods &mdash; and the best iced mochas, ever.'}}}</li>
						  <li><a href="http://www.dulcebakery.com/" target="_blank"><strong>Dulce Bakery</strong></a>: {{{__ 'Try their Mexican wedding cookies.'}}}</li>
						  <li><a href="https://www.lalecherianm.com/" target="_blank"><strong>La Lecheria</strong></a>: {{{__ 'An ice-cream shop known for unique flavor combinations and local ingredients.'}}}</li>
						</ul><br/>
						<img src="/img/kakawa-chocolate-plate.jpg" alt="Chocolates" style="display: block; max-width: 400px; margin-left: auto; margin-right: auto;" /><br /><br />
						<p class="faqquestion">{{{__ 'PLACES TO VISIT'}}}</p>
						<p>{{{__ 'You can easily spend a week in and around Santa Fe. Here are some of our favorite in-town activities:'}}}</p>
						<ul>
							<li><strong>{{{__ 'Santa Fe Plaza'}}}</strong>: {{{__ 'Located downtown, Santa Fe\'s Spanish Colonial plaza was established in 1609. The Native artisans who sell silver, turquoise, and crafts on the north end of the plaza all come from local Pueblos, and all their crafts are handmade. The plaza is home to St. Francis Cathedral and the Palace of the Governors, a museum that\'s also the oldest continuously used building in the United States.'}}}</li>
							<li><a href="https://www.okeeffemuseum.org/" target="_blank"><strong>{{{__ 'The Georgia O\'Keeffe Museum'}}}</strong></a>: {{{__ 'Right off the plaza, this museum is small and lovely, and dedicated to the artist\'s legacy and American Modernism (O\'Keeffe spent the latter half of her life in New Mexico).'}}}</li>
							<li><a href="http://museumhill.net/" target="_blank"><strong>Museum Hill</strong></a>: {{{__ 'Located about two miles from the plaza, Museum Hill is home to four excellent museums &emdash; the Museum of Indian Arts &amp; Culture, the Museum of International Folk Art, the Wheelwright Museum of the American Indian, and the Museum of Spanish Colonial Art. We love their botanical garden, too.'}}}</li>
							<li><a href="http://www.canyonroadarts.com/canyon-road-galleries/" target="_blank"><strong>{{{__ 'Canyon Road Galleries'}}}</strong></a>: {{{__ 'Aside from New York, Santa Fe has more art galleries than any city in the United States. Canyon Road is only a half-mile long and boasts more than one hundred galleries, boutiques, and restaurants.'}}}</li>
							<li><a href="https://www.nps.gov/nr/travel/american_latino_heritage/barrio_de_analco_historic_district.html" target="_blank"><strong>{{{__ 'Barrio de Analco Historic District'}}}</strong></a> {{{__ '(now East de Vargas Street): Just steps away from Canyon Road, and one of the country\'s oldest continuously inhabited streets.'}}}</li>
							<li><a href="http://www.matteucci.com/" target="_blank"><strong>{{{__ 'Nedra Matteucci Gallery'}}}</strong></a>: {{{__ 'One of the best galleries in Santa Fe, and one of our favorites; don\'t miss the beautiful sculpture garden. And it\'s across the street from Kakawa Chocolate House!'}}}</li>
							<li><a href="https://www.railyardsantafe.com/" target="_blank"><strong>Railyard District</strong></a>: {{{__ 'Just outside of downtown, the Railyard District is filled with art spaces, cafes, and shopping. Check out the Santa Fe Farmers\' Market or stop by Second Street Brewery for a beer and one of their tasty green chile cheeseburgers.'}}}</li>
						</ul><br/>

						<p class="faqquestion">{{{__ 'NEAR-TOWN ACTIVITIES'}}}</p>
						<ul>
							<li><strong>{{{__ 'Hiking'}}}</strong>: {{{__ 'There are dozens of day-hike options in and around Santa Fe. For a wonderful day hike, head to <a href="https://www.rei.com/passport/Kasha-Katuwe-Tent-Rocks-National-Monument" target="_blank">Kasha-Katuwe Tent Rocks National Monument</a>, 50 minutes southwest of Santa Fe. There you can do an easy 1.2-mile hike or a moderate-to-challenging 3-mile hike on <a href="http://www.alltrails.com/trail/us/new-mexico/tent-rocks-canyon-trails" target="_blank">Tent Rocks Trail</a>, which offers gorgeous views of striated rock formations, the famous hoodoos (tent rocks), the Sangre de Cristo, Jemez, and Sandia mountains, and the Rio Grande Valley. Wherever you hike, be sure to carry water and bring layers; the weather can change rapidly as you ascend and descend.'}}}</li>
							<li><a href="https://tenthousandwaves.com/" target="_blank"><strong>Ten Thousand Waves</strong></a>: {{{__ 'If you make a pastime of pampering, head to this beautiful Japanese-style spa with forest-view hot tubs and Asian-style massages. The spa is 10 miles outside of Santa Fe and located on a mountain overlooking the city. You can enjoy a communal tub or sauna, rent a private tub, book a massage or facial, and dine at their James Beard-nominated Japanese restaurant, Izanami. Book at least a few weeks in advance, as spots tend to fill up quickly.'}}}</li>
						</ul><br/>
						<img src="/img/kasha-katuwe-tent-rocks.jpg" alt="Kasha-Katuwe Tent Rocks" style="display: block; max-width: 400px; margin-left: auto; margin-right: auto;" /><br /><br />

						<p class="faqquestion">{{{__ 'DAY OR OVERNIGHT TRIPS'}}}</p>
						<ul>
							<li><a href="http://www.ojospa.com/" target="_blank"><strong>Ojo Caliente</strong></a>: {{{__ 'Sarah and her sister Amy stayed here way back in 1998! A mineral hot springs and hotel, Ojo Caliente is lovely for a day trip or overnight stay. You can float in the hot springs, enjoy a massage or mud bath, dine at their restaurant, and stay overnight in either their newer accommodations or historic 1916 hotel. Ojo Caliente is about an hour\'s drive north of Santa Fe.</li>
							<li><strong>The High Road from Santa Fe to Taos</strong>: This route offers a combination of New Mexicana and panoramic views. The trip takes about two hours without stopping, but it\'s worth visiting several towns along the way where time has stood still. These include'}}}:
								<ul>
									<li><strong>Chimayó</strong>, {{{__ 'famous for its Sanctuario de Chimayó (a pilgrimage site for many Hispanic Catholics) and traditional weaving galleries (visit Trujillo\'s)'}}}.</li>
									<li><strong>Truchas</strong>, {{{__ 'two towns up the road, has been settled by many artists and is home to several galleries.'}}}</li>
									<li><strong>Peñasco</strong>, {{{__ 'home to the fabulous Sugar Nymph\'s Bistro, started by a couple who left the San Francisco food scene to pursue dreams of a small-town cafe. Make time for lunch or cake!'}}}</li>
									<li><strong>Taos Pueblo</strong>: {{{__ 'When you get to Taos, be sure to visit the Pueblo, the only living Native American community designated both a World Heritage Site by UNESCO and a National Historic Landmark. The multi-storied adobe buildings have been continuously inhabited for over 1,000 years. When you\'re done exploring Taos, you can halve your return journey by taking the Low Road, along the Rio Grande River, back to Santa Fe.'}}}</li>
								</ul>
							<li><a href="https://www.nps.gov/band/index.htm" target="_blank"><strong>{{{__ 'Bandelier National Monument'}}}</strong></a>: {{{__ 'About an hour\'s drive west of Santa Fe, this impressive Monument contains 23,000 acres of backcountry wilderness, waterfalls, and wildlife. It\'s best known for the remarkable petroglyphs carved into the nooks and crevices of the canyon wall above the dwellings by ancestral Puebloans.'}}}</li>
							<li><strong>Abiquiú</strong>: {{{__ 'Georgia O\'Keeffe\'s famed ranch in Abiquiú, which served as the setting for many of her paintings, can be toured by <a href="https://connect.okeeffemuseum.org/abiquiu-tours" target="_blank">appointment</a> on Tuesdays, Thursdays, Fridays, and Saturdays. If you\'re interested in visiting, we recommend booking well ahead of time. Check out the nearby <a href="http://www.abiquiuinn.com/" target="_blank">Abiquiú Inn</a> for a meal or overnight stay. Abiquiú is about an hour\'s drive north of Santa Fe.'}}}</li>
						</ul>
          </div>
        </div>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>
</main>
